<link rel ="stylesheet" href = "styles/events.css">
<article class = "events">
    <% pages.forEach((page)=>{ %>
    <h1><%= page.Name %></h1>
    <h2><%= page.Description %></h2>
    <h3><%= page.Place %></h3>
    <h3><%= page.Date %></h3>
    <h3><%= page.Price %></h3>
    <button type ="submit" onclick="passID">Sign-up for the event</button>
    <% }) %>
</article>
</article>
