<link rel ="stylesheet" href = "styles/events.css">
<article class = "events">
    <% pages.forEach((page)=>{ %>
    <h1><%= page.Name %></h1>
<article class = "description">
    <h2><%= page.Description %></h2>
</article>
<article class = "description">
    <h3><%= page.Place %></h3>
    <h3><%= page.Date %></h3>
    <h3><%= page.Price %></h3>
    <% }) %>
</article>
</article>