<!DOCTYPE html>
<script>
    var Session = '<%- session %>'
    console.log(Session)
</script>

<html>
    <head>
        
        <title>Love for the Uglies</title>
        <%- include('../partials/nav', {active: "Yourpage"}) %>
        <link rel="stylesheet" href="styles/navigation-bar.css">
        <script src="scripts\yourpage.js"></script>
    </head>
    <body>
        <p>
            <header><%= session.username %></header>
            <h1>Hello <%= session.username %>!</h1>
            <h2>Your recent activity:</h2>
            <% if(session.InterestedEvents != null){%>
            <% for(i =0; i<session.InterestedEvents.length; i++){ %>
               <h3> <%= session.InterestedEvents[i] %> </h3>
            <% } %>
            <% } %>
            <h3></h3>
            <br><br>

            <%if(session.username != null){ %>
            <div id="EditProfile">
                <label for="ChangeUsername">Change Username:</label>
                <input class="txt" type="text" id="newUsername" placeholder="<%=session.username%>">
            <button id="nameChangeButton" type="button">Change Name</button>
            </div>
            <% } %>
        </p>
    </body>
</html>